:root{
    --pink: #f14e95;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgb(0 0 0 0/0.5);
    --biru: #64748b;


}

body{
    font-size: 1.2rem;
    font-family: "Work Sans", sans-serif;
    
    min-height: 2000px;

}

.hero::before{

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/SPW00480.jpg');
    z-index: -1;
    /* 1. MENCEGAH PENGULANGAN GAMBAR */
    background-repeat: no-repeat;
    
    /* 2. MEMASTIKAN GAMBAR MENGISI SELURUH LAYAR */
    /* 'cover' memastikan gambar menutupi area 100%x100% tanpa terpotong */
    background-size: cover; 
    
    /* 3. MENEMPATKAN GAMBAR DI TENGAH LAYAR */
    background-position: center;
    
    z-index: -1;
}

.hero h1, .hero h4, .hero p {
    text-shadow: var(--shadow);
}

.hero{
    position: relative;
    min-height: 100vh;

}

.hero h1, .hero h4 .hero p



.hero h1{
    font-family: 'Sacramento', sans-serif; 
    font-size: 6rem;


}

.hero h4{
    font-size: 1.4rem;
}


.hero p{
    font-size: 1.2rem;
}

.hero a{
    margin-top:7%;
    color: var(--biru);
    background-color: white;
}

.hero a:hover{
    background-color: var(--biru);
    color: white;
}


.mynavbar {
background-color: rgba(255, 255, 255, 0.3);
backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
    height: 100vh;
}

.mynavbar .navbar-brand, 
.mynavbar .offcanvas-title {
    font-family: 'Sacramento', cursive;
    font-size: 2rem;
    font-weight: 700;
}

.mynavbar .nav-link {
    font-weight: 300;
    /* text-transform: uppercase; */
}

.Home {
    background-image: url('img/floral1.PNG');
    background-size: cover;
    min-height: 100vh;
    margin-top: -6rem;
    padding-top: 15rem;
    padding-bottom: 7rem;

}

.Home h2,
.story h2,
.gallery h2,
.info h2,
.rsvp h2,
.gifts h2 {
    color: var(--biru);
    font-family: 'Sacramento';
    font-size: 5rem;
    font-weight: bold;
    margin-top: 1rem;

}

.Home h3 {
    color: #444;
    font-size: 1.5rem;
    margin-bottom: 1rem;

}

.Home p {
    font-size: 1.1rem;
    color: #666;

}

.Home .couple {
    margin-top: 100px;
}

.Home .couple h3 {
    font-family: 'Sacramento';
    font-size: 2.4rem;
    color: var(--biru);

}

.Home .couple img {
    width: 100%;
}

.Home .heart {
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    border-radius: 50%;
    box-shadow: var(--shadow);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(75px);

}

.Home .heart i {
    margin: auto;
    color: var(--biru);

}

.info {
    background-color: var(--bg);
    color: white;
    padding-top: 10rem;
    padding-bottom: 8rem;

}

.info h2 {
    color: var(--biru);
    font-family: 'Sacramento';
    font-size: 5rem;
    font-weight: bold;
}

.info .alamat {
    font-size: 1.1rem;

}

.info .description{
    font-size: 1rem;    
    font-weight: 300;
}

.info .card{
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: white !important;
    border: 1px solid #999;
    
}

.info .card-header {
    border-bottom: 1px solid #999;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    
}

.info .card-body {
    font-size: 1rem;
    
}

.info .card-footer {
    border-top: 1px solid #999;
    font-size: 0.9rem;
    font-weight: 300;
    
}

.story,
.gallery,
.rsvp,
.gifts{
    padding-top: 10rem;
    padding-bottom: 8rem;

}

.story span, 
.gallery span,
.gifts span 
.rsvp span {
    text-transform: uppercase;
    color: #666;
    font-size: 0.9rem;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 1rem;

}

.story p,
.gallery p,
.rsvp p ,
.gifts p{
    font-size: 1rem;
    font-weight: 300;

}

.timeline{
    list-style: none;
    padding: 1.4rem 0;
    margin-top: 1rem;
    position: relative;

}

.timeline::before{
    content: '';
    top: 0;
    bottom: 0;
    position: absolute;
    width: 1px;
    background-color: #ccc;
    left: 50%;

}

.timeline li{
    margin-bottom: 1.5rem;
    position: relative;

}

.timeline li::before,
.timeline li::after{
    content: '';
    display: table;

}

.timeline li::after{
    clear: both;

}

.timeline li .timeline-image{
    width: 160px;
    height: 160px;
    background-color: #ccc;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.timeline li .timeline-panel {
    width: 37%;
    float: left;
    border: 1px solid #ccc;
    padding: 2rem;
    position: relative;
    border-radius: 10px;
    background-color: #fff;


}

.timeline li .timeline-panel::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #444; 
    border: 1px solid #ccc;
    right: -15px;
    top: 70px;
    transform: rotate(45deg);
    z-index: -1;
    /* border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent; */
    
}

.timeline li.timeline-inverted .timeline-panel {
    float: right;
}

.timeline li.timeline-inverted .timeline-panel::before {
    left: -15px;
    right: auto;
}


.gallery{
    background-color: #f5f5f5;
}

.rsvp{
    background-color: var(--bg);
}

.rsvp h2{
    font-size: 4.5rem;

}

.rsvp p{
    color: white;
}

.rsvp form label{
    color: white;
}

.rsvp button{
    background-color: var(--biru);
    color: white;
    border: none;
}

.rsvp button:hover{
    background-color: white;
    color: var(--biru);
    border: none;
}

footer {
    background-color: var(--biru);
    color: white;
    padding: 3rem;

}

footer a {
    color: var(--bg);
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    color: white;
}
 footer li{
    list-style: none;
    display: inline;
    margin: 0.5rem;
}


.audio-icon-wrapper {
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
    position: fixed;
    bottom: 2rem;
    right: 2.5rem;
    cursor: pointer;
    color: white;
    opacity: 50%;
    mix-blend-mode: difference;
    animation: rotating 4s linear infinite;
    transform-origin: center;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}











/* INI PENGATURAN SUPAYA FIT DI SEMUA DEVICE */
/* Media Query */
/* Extra Large */
@media (max-width: 1200px) {
    .Home .heart {
        transform: translateX(-50%) translateY(45px);
    }
}

/* laptop */
@media (max-width: 992px) {
    html{
        font-size: 75%;
    }

    .timeline::before{
        left: 60px;
        
    }    
    .timeline li .timeline-image{
        left: 15px;
        margin-left: 45px;
        top: 16px;

    }
    .timeline li .timeline-panel{
        width: 67%;
        float: right;
        
    }
    .timeline li .timeline-panel::before{
        left: -15px;
        right: auto;
    }

}

/* tablet */
@media (max-width: 768px) {
    html{
        font-size: 65%;
    }
    .mynavbar .nav-link {
        font-size: 2rem;
        font-weight: 300;
        /* text-transform: uppercase; */ /*ini untuk membuat hurufnya besar/kapital semua */
        text-align: center;
    }
    .sticky-top{
        overflow: hidden;
    }

    .timeline li .timeline-image{
        width: 140px;
        height: 140px;

    }
    .timeline li .timeline-panel{
        width: 60%;
    }
}

/* handphone */
@media (max-width: 576px) {
    html{
        font-size: 60%;
    }

    .timeline li .timeline-image{
        width: 80px;
        height: 80px;

    }

    .timeline li .timeline-panel{
        width: 70%;
        transform: translateX(-20px);
        /* background-color: #fff; */
        z-index: index -1;;
    }
    .timeline li .timeline-panel::before{
        display: none;
       
        

    }



    .timeline li.timeline-inverted .timeline-panel::before{
        display: none;
    }

}
